In [1]:
import pandas as pd
import numpy as np

## Functions

In [2]:
def add_numbers(x, y, z):
    w = x + y + z
    return(w)

In [3]:
x = 1
y = 2
z = 3
add_numbers(x = x, y = y, z = z)

6

In [4]:
# set last parameter to be none by default
def add_numbers(x, y, z = None):
    if z == None:
        w = x + y
    else:
        w = x + y + z
    return(w)

In [6]:
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [ ]:
#This function should add the two values if the value of the "kind" parameter is "add" or is not passed in, 
#otherwise it should subtract the second value from the first. 
def do_math(a, b, kind):
  kind = 'add'
  if (kind=='add'):
    return a+b
  else:
    return a-b

do_math(1, 2)

In [10]:
# fixed function
def do_math(a, b, kind = None):
    if kind == 'add' or kind == None:
        return a + b
    else:
        return a - b
do_math(1,2)

3

## Types and Sequences

In [11]:
# tuple,list and dictionary
# tuple has items in ordering that cannot be changed once created
x = (1, 'a', 2, 'b')
type(x)

tuple

In [12]:
# lists 
# lists are mutable, can change length, number of elements, and element values
y = [1, 'a', 2, 'b']
type(y)

list

In [13]:
# can modify values through append function
y.append(3)
y

[1, 'a', 2, 'b', 3]

In [14]:
# use for statement to look through each item in a list
for item in y:
    print(item)

1
a
2
b
3

In [15]:
# use plus sign to concatenate lists
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [16]:
# use asterisk to repeat values
[1] * 3

[1, 1, 1]

In [17]:
# use in operator to return boolean to see if a value exists
1 in y

True

In [19]:
# indexing value of string
x = "String"
print(x[0])
print(x[0:1])
print(x[0:2])
print(x[-1]) # negative values start at back of string

S
S
St
g

In [22]:
# strings are lists of characters, so operations we do on a string we can also do on a list
firstname = "John"
lastname = "Smith"
firstname + ' ' + lastname

'John Smith'

In [28]:
# use split operator to split string based on a pattern, and use index to extract value
firstname = 'John Anthony Michael Smith'.split()[0]
lastname = 'John Anthony Michael Smith'.split()[-1]
firstname + ' ' + lastname

'John Smith'

In [29]:
# dictionaries - labeled collections without ordering. Use the key value to identify a value 
dictionary = {'John Smith': 'john.smith@aol.com',
              'Jane Doe': 'jane.doe@aol.com'}
dictionary['John Smith']

'john.smith@aol.com'

In [30]:
# iterating over all objects using the keys of the dictionary
for name in dictionary:
    print(dictionary[name])

john.smith@aol.com
jane.doe@aol.com

In [33]:
# iterate over just the values using .values()
for email in dictionary.values():
    print(email)

john.smith@aol.com
jane.doe@aol.com

In [35]:
# iterate over keys and values using .items()
for name, email in dictionary.items():
    print(name, email)

John Smith john.smith@aol.com
Jane Doe jane.doe@aol.com

## Reading and Writing CSVs

In [36]:
# import csv and set floating point precision to 2
import csv
%precision 2

'%.2f'

In [37]:
# import mpg csv and convert to a list of dictionaries
with open('course1_downloads/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

In [38]:
# look at first three elements of list 
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [39]:
# print length: dictionary items for each car in CSV file
len(mpg)

234

In [46]:
# look at column names by using key method
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [49]:
# find average mpg for all cars in dictionary
sum(float(d['cty']) for d in mpg)/len(mpg)

16.86

In [51]:
# creating a set will give you unique values for a column
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [53]:
# find the mpg for each cylinder by iterating over values in dictionary, and calculating the cylinder mpg
cylinder_mpg = []

for c in cylinders:
    summpg = 0
    cylcount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cylcount += 1
    cylinder_mpg.append((c, summpg / cylcount))

In [54]:
cylinder_mpg

[('8', 12.57), ('6', 16.22), ('4', 21.01), ('5', 20.50)]

## Dates and Times

In [55]:
import datetime as dt
import time as tm

In [56]:
# print current time in ms since epoch
tm.time()

1621191263.36

In [57]:
# convert to list of times
dt_now = dt.datetime.fromtimestamp(tm.time())
dt_now

datetime.datetime(2021, 5, 16, 13, 55, 23, 823071)

In [59]:
# compute time differences
delta = dt.timedelta(days = 100)
today = dt.date.today()
today - delta

datetime.date(2021, 2, 5)

## Objects and Map

In [ ]:
# declare lambda function by using structure: name = lambda, arguments : expression
# lambdas are useful for simple tasks